$website--width: 1280px;
$main-color: #8a1d4b;
$light-color: #f4f4f4;
$bg-color: rgb(66, 53, 53);
$medium-color: #ffe2ef;
$dark-color: #333;
$bg-img: url("../img/Cover1.jpg");
$bg-contact: url("../img/Cover2.jpg");
