// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
}
.btn {
  &-main {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
  color: $light-color;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.text-center {
  text-align: center;
}
