@import "config";
@import "general";
@import "item_grid";

// General Styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
//logo
#logo {
  width: 70px;
  height: 40px;

  // margin-left: 1rem;
  // padding-top: 0.35rem;
  // padding-left: 0.5rem;
  align-items: center;
}
//Navigation
#nav {
  display: flex;
  background-image: linear-gradient(#611d1d, $bg-color);
  // background: $bg-color;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  ul {
    display: flex;
    align-items: center;
  }
  li {
    a {
      color: #fff;
      text-decoration: none;
      padding: 0.75rem 0.75rem;
      margin: 0 0.5rem;
      border-radius: 0.3rem;

      &:hover {
        color: #333;
        background: $medium-color;
      }
    }
  }
}

// Header
#header {
  &-home {
    background: $bg-img no-repeat center right/cover;

    position: relative;
    height: 100vh;
    color: #fff;
    .header-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      h1 {
        font-size: 2.2rem;
        .txt-type {
          color: $medium-color;
        }
      }
    }
  }
}
//About Section
#about {
  background: $light-color;
  .about-container {
    text-align: center;
    margin: 0rem 2rem;
    h2 {
      color: $main-color;
      // padding-top: 2rem;
    }
    .about-info {
      display: flex;
    }
    .image-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 3rem 4rem;
    }
    img {
      width: 90%;
      // border-radius: 50%;
    }
    .bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      justify-content: center;
      width: 100%;
      padding: 1.5rem 2rem;
      // border-radius: 0 35px;
      // border-left: $main-color 8px solid;
      p {
        margin: 1.5rem 0;
      }
    }
  }
}

// Work History
.work-container {
  h2 {
    color: $main-color;
    padding-top: 2rem;
  }
  .item-text h2 {
    color: #fff;
  }
  .item-text p {
    color: #fff;
  }
}

// Contact.html Contact Form
#contact {
  background: $light-color;

  .contact-content {
    display: flex;
    padding-top: 2rem;
    overflow: hidden;
    iframe {
      flex: 1.25;
      overflow: hidden;
    }
  }
  .container {
    padding-left: 2rem;
    display: flex;
    flex: 1;
    text-align: left;
    flex-direction: column;

    h2 {
      color: $main-color;
      padding-top: 1rem;
      margin: 10px 0;
    }
    p {
      padding-bottom: 20px;
      padding-right: 2rem;
    }
    .fav-contact {
      display: flex;
      flex-direction: column;
      .fa {
        padding: 0.8rem;
      }
      span {
        margin-left: 10px;
      }
    }
  }
}

// Footer
#footer {
  background: linear-gradient($bg-color, #611d1d);
  color: $light-color;
  padding: 0rem 1rem;
  height: 5rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
.social .fab {
  color: #fff;
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  &:hover {
    background: $main-color;
    cursor: pointer;
  }
}
//Responsive Design
@import "media";
